#back-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  border-radius: 5px;
  padding: 0 5px 10px 5px;
}

#back-button:hover {
  padding: 0 5px 5px 5px;
}

#back-button::before {
  content: "⬅";
  font-size: 20px;
  padding: 0 5px 0 0;
}

#recipe-selection {
  background: rgba(255, 255, 255, 0.95);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}

.recipes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.recipe {
  width: 65px;
  height: 65px;
  cursor: url('../assets/cursors/hand_point.png'), pointer;
  transition: transform 0.2s;
}

.recipe:hover {
  transform: scale(1.1);
}

#start-cooking {
  border: none;
  background-color: #ffcd28;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: url('../assets/cursors/hand_point.png'), pointer;
  transition: 0.3s;
}

#start-cooking:hover {
  color: white;
  background-color: #b85d39cb;
}